<article id="latest">
    <p id="update1">UPDATED: 2018-04-27<p>
    <h2>Headline</h2>
    <p>Hejojeopjaepoj spoeslkdj ekösjdsiohdfsåäakdsöojsd sdpojsdpisjhdlsknpioj sdpojsdökln sdpoj</p>
    <a href="#"><button>More info</button></a>
</article>