.container main #latest {
    grid-column: 2/4;
    grid-row: 2/5;
    background: #00759A;
}

.container main #latest #update1 {
    font-size: 10px;
    margin: 2px;
}

.container main #latest h2 {
    margin: 0;
}

.container main #latest p {
   
}

.container main #latest a button {
    margin-top: 15px;
    margin-left: 155px;
    background: transparent;
    border: transparent;
}

